/crash-reports
/cache
/config
/coremods
/local
/logs
/mods
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks

*.txt
usercache.json
usernamecache.json

/groovy/.venv
/groovy/.vscode

/groovy/output2.groovy

*.py
